{% extends "innoLCLbackBundle::layout.html.twig" %}


{% block menu %}
{% endblock %}

{% block body %}


        <div class="row main-section section-{{idea.statuts}}">
            <div class="container">
                <div class="col-lg-12 table-responsive">
                    <table class="table table-hover" id="idealist">
                        <tr class="panel-heading">
                                 <th>{{ idea.id }}</th>
                                <th>{{ idea.author.firstname }}</th>
                                <th>{{ idea.author.lastname }}</th>
                                <th>{{ idea.reworked }}</th>
                                <th>{{ idea.title|length > 20 ? idea.title|slice(0, 20) ~ '...' : idea.title  }}</th>
                                <th>{{ idea.description|length > 20 ? idea.description|slice(0, 20) ~ '...' : idea.description  }}</th>
                                <th>{{ idea.author.email }}</th>
                        </tr>
                        
                        <tr><td colspan="7" >&nbsp;</td></tr>
                        <tr class="trcontainer"><td colspan="7" id="formcontainer">{{form_view|raw }}</td></tr>
     
           
                </table>
                </div>
            </div>
        </div>
{% endblock %}
