{# src/innoLCL/backBundle/Resources/views/Lecteur/list.html.twig #}

{% extends "innoLCLbackBundle::layout.html.twig" %}

{% block menu %}
        <div class="row navidea">
                <div class="container">
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-blue">
                            <a href="{{ path('innolcl_lecteur_list_idea', {'statut': 'all'}) }}">
                                <div class="panel-heading text-center">
                                        <div class="huge all">{{ ideacount.all }}</div>
                                        <p class="cat_name">Idées en attente</p>
                                </div>
                                {% if currentview == 'all' %}
                                <div class="panel-footer text-center">
                                     <i class="glyphicon glyphicon-menu-down "></i>
                                    <div class="clearfix"></div>
                                </div>
                            {% endif %}
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-yellow">
                            <a href="{{ path('innolcl_lecteur_list_idea', {'statut': 'maybe'}) }}">
                                <div class="panel-heading text-center">
                                        <div class="huge maybe">{{ ideacount.maybe }}</div>
                                        <p class="cat_name">Peut-être</p>
                                </div>
                                {% if currentview == 'maybe' %}
                                <div class="panel-footer text-center">
                                     <i class="glyphicon glyphicon-menu-down "></i>
                                    <div class="clearfix"></div>
                                </div>
                            {% endif %}
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-green">
                            <a href="{{ path('innolcl_lecteur_list_idea', {'statut': 'validated'}) }}">
                                <div class="panel-heading text-center">
                                        <div class="huge valid">{{ ideacount.validated }}</div>
                                        <p class="cat_name">Validées</p>
                                </div>
                                {% if currentview == 'validated' %}
                                <div class="panel-footer text-center">
                                     <i class="glyphicon glyphicon-menu-down "></i>
                                    <div class="clearfix"></div>
                                </div>
                                {% endif %}
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-red panel-primary">
                            <a href="{{ path('innolcl_lecteur_list_idea', {'statut': 'refused'}) }}">
                                <div class="panel-heading text-center">
                                        <div class="huge refus">{{ ideacount.refused }}</div>
                                        <p class="cat_name">Refusées</p>
                                </div>
                                {% if currentview == 'refused' %}
                                <div class="panel-footer text-center">
                                     <i class="glyphicon glyphicon-menu-down "></i>
                                    <div class="clearfix"></div>
                                </div>
                                {% endif %}
                            </a>
                        </div>
                    </div>
                    </div>
            </div>
{% endblock %}

{% block body %}
        <div class="row main-section section-{{currentview}}">
            <div class="container">
                <div class="col-lg-12 table-responsive">
                    <table class="table table-hover" id="idealist">
                        <tr class="panel-heading"><th>N°</th><th>Prénom</th><th>Nom</th><th>Ver.</th><th>Idée</th><th>Descriptif</th><th>Contacter</th></tr>
                    {% for idea in idealist %}
                        <tr data-action="{{ path('innolcl_backbundle_get_idea', {'ideaid': idea.id }) }}" class="js-getidea">
                                <td>{{ idea.id }}</td>
                                <td>{{ idea.author.firstname }}</td>
                                <td>{{ idea.author.lastname }}</td>
                                <td>
                                    {% if idea.version > 1 %}
                                            <span class="rework">{{idea.version}}</span>
                                    {% endif %}                                
                                </td>
                                <td>({{idea.author.nbideaposted}}) {{ idea.title|length > 20 ? idea.title|slice(0, 20) ~ '...' : idea.title  }}</td>
                                <td>{{ idea.description|length > 20 ? idea.description|slice(0, 20) ~ '...' : idea.description  }}</td>
                                <td><a href="mailto:{{ idea.author.email }}"><i  class="glyphicon glyphicon-envelope"></i></a></td>
                        </tr>
                    {% else %}
                        <tr><td colspan="7">Pas d'idée dans cette catégorie.</td>
                    {% endfor %}                
                </table>
                </div>
                
                <div class="row white-bg">
					<div class="col-lg-12 text-right">
						{% if nb_page != 0 %}
							<ul class="pagination_block">
							{% for i in 1..nb_page %}
								{% if i == current_page %}
								<li class="pagination__item pagination__item_current">
									{{ i }}
								</li>
								{% else %}
								<li class="pagination__item">
									<a href="{{ path('innolcl_lecteur_list_idea', {'statut' : currentview, 'page': i }) }}">
										{{ i }}
									</a>
								</li>
								{% endif %}
							{% endfor %}
							</ul>
						{% endif %}
					</div>
				</div>
            </div>
        </div>
{% endblock %}
