{# src/innoLCL/backBundle/Resources/views/Selectionneur/list.html.twig #}

{% extends "innoLCLbackBundle::layout.html.twig" %}

{% block menu %}
        <div class="row navidea">
                <div class="container">
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-green">
                            <a href="{{ path('innolcl_lecteur_list_idea', {'statut': 'validated'}) }}">
                                <div class="panel-heading text-center">
                                        <div class="huge valid">{{ ideacountvalidated }}</div>
                                        <p class="cat_name">Validées</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    </div>
            </div>
{% endblock %}

{% block enteteSelectionneur %}
<div class="row section-{{currentview}}">
    <div class="container ribbon-container">
        <div class="col-lg-6 ribbonl">
            <div class="ribbon-left">{% if selectedconfirmed == 0 %}
							Il reste <span id="ideacount">{{ ideacountselected }}</span> idées à sélectionner
                        {% else %}
							Vous ne pouvez plus modifier la sélection.
						{% endif %}
                        </div>
        </div>
        <div class="col-lg-6 ribbonr">
            <div class="ribbon-right">
				{% if selectedconfirmed == 0 %}
				<button class="validateselection" id="validateselection" data-action="{{ path('innolcl_bothIdea_handleSelectionneurFinaliseForm') }}">Validation définitive</button>
				{% else %}
					<span class="warn-final">La sélection est finalisée.</span>
				{% endif %}</div>
        </div>
    </div>
</div>
{% endblock %}

{% block body %}
        <div class="row main-section section-{{currentview}} section-selectionneur">
            <div class="container">
                <div class="col-lg-12 table-responsive">
                    <table class="table table-hover" id="idealist">
                        <tr class="panel-heading"><th>N°</th><th>Prénom</th><th>Nom</th><th>Idée</th><th>Descriptif</th><th>Contacter</th><th>Sélection</th></tr>
                    {% for idea in idealist %}
                        <tr data-action="{{ path('innolcl_backbundle_get_idea', {'ideaid': idea.id }) }}" class="js-getidea">
                                <td>{{ idea.id }}</td>
                                <td>{{ idea.author.firstname }}</td>
                                <td>{{ idea.author.lastname }}</td>
                                <td>({{idea.author.nbideaposted}}) {{ idea.title|length > 20 ? idea.title|slice(0, 20) ~ '...' : idea.title  }}</td>
                                <td>{{ idea.description|length > 20 ? idea.description|slice(0, 20) ~ '...' : idea.description  }}</td>
                                <td><a href="mailto:{{ idea.author.email }}"><i  class="glyphicon glyphicon-envelope"></i></a></td>
                                <td class="nopadding">
                                    {% if selectedconfirmed == 1 %}
                                        {% if idea.selected %}
                                            <button class="selecteur isselect" />
                                        {% else %}
                                            <button class="selecteur" />
                                        {% endif %}  
                                    {% else %}
                                        {% if idea.selected %}
                                            <button class="selecteur isselect js-selected" data-action="{{ path('innolcl_bothIdea_handleSelectionneurForm', {'ideaid': idea.id }) }}"/>
                                        {% else %}
                                            <button class="selecteur js-selected" data-action="{{ path('innolcl_bothIdea_handleSelectionneurForm', {'ideaid': idea.id }) }}" />
                                        {% endif %} 
                                    {% endif %}    
                                </td>
                        </tr>
                    {% else %}
                        <tr><td colspan="7">Pas d'idée dans cette catégorie.</td>
                    {% endfor %}                
                </table>
                </div>
            </div>
        </div>
{% endblock %}
