{# src/innoLCL/backBundle/Resources/views/Selectionneur/list.html.twig #}

{% extends "innoLCLbackBundle::layout.html.twig" %}

{% block menu %}
        <div class="row navidea">
                <div class="container">
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-green">
                            <a href="{{ path('innolcl_lecteur_list_idea', {'statut': 'validated'}) }}">
                                <div class="panel-heading text-center">
                                        <div class="huge valid"></div>
                                        <p class="cat_name">Validées</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    </div>
            </div>
{% endblock %}

{% block enteteSelectionneur %}
<em>Il reste {{ ideacountselected }} idées à sélectionner</em>
{% endblock %}

{% block body %}
        <div class="row main-section section-{{currentview}}">
            <div class="container">
                <div class="col-lg-12 table-responsive">
                    <table class="table table-hover" id="idealist">
                        <tr class="panel-heading"><th>N°</th><th>Prénom</th><th>Nom</th><th>Idée</th><th>Descriptif</th><th>Contacter</th><th>Sélection</th></tr>
                    {% for idea in idealist %}
                        <tr data-action="{{ path('innolcl_backbundle_get_idea', {'ideaid': idea.id }) }}" class="js-getidea">
                                <td>{{ idea.id }}</td>
                                <td>{{ idea.author.firstname }}</td>
                                <td>{{ idea.author.lastname }}</td>
                                <td>{{ idea.title|length > 20 ? idea.title|slice(0, 20) ~ '...' : idea.title  }}</td>
                                <td>{{ idea.description|length > 20 ? idea.description|slice(0, 20) ~ '...' : idea.description  }}</td>
                                <td>{{ idea.author.email }}</td>
                                <td>form.selected</td>
                        </tr>
                    {% else %}
                        <tr><td colspan="7">Pas d'idée dans cette catégorie.</td>
                    {% endfor %}                
                </table>
                </div>
            </div>
        </div>
{% endblock %}
