{% extends "innoLCLfrontBundle::layout.html.twig" %}

{% block bodyclass %} manual{% endblock %}

{% block body %}
    {% include 'innoLCLfrontBundle:Interface:_header_pages.html.twig' %} 
       
       
     <!-- entete -->               
    <div class="row"> 
        <div class="small-10 small-centered columns">
            <h1>&laquo; Challenge de l'innovation &raquo;</h1>
            <h2>Au service de l'AMÉLIORATION de la qualité de service de LCL</h2>
        </div>
    </div> 
    
    <div class="text-center">      
        <hr class="blueline" /><br/>
        <h2 class="tps_fort">5 Temps Forts</h2>
        <ul class="tps_fort">
            <li><img src="{{asset('/images/modedemploi/1.png')}}"  alt="étape 1" /><br/><span>Propositions</span><br/> d'idées</li>
            <li><img src="{{asset('/images/modedemploi/2.png')}}"  alt="étape 2" /><br/><span>Sélection</span><br/> des 10 Lauréats</li>
            <li><img src="{{asset('/images/modedemploi/3.png')}}"  alt="étape 3" /><br/><span>Valorisation</span><br/> des idées retenues</li>
            <li><img src="{{asset('/images/modedemploi/4.png')}}"  alt="étape 4" /><br/><span>Vote</span><br/> final</li>
            <li><img src="{{asset('/images/modedemploi/5.png')}}"  alt="étape 5" /><br/><span>Une idée finale</span><br/> à mettre en oeuvre</li>
        </ul>
    </div>
    <!-- ETAPE 1 -->
    <div class="row">
        <div class="text-center">
            <hr class="blueline" /><br/>
            <img src="{{asset('/images/modedemploi/Premiere_ETAPE_LOGO.png')}}"  alt="étape 1" />
            <h2><img src="{{asset('/images/modedemploi/CALENDRIER1.png')}}" alt="du 10 novembre au 04 décembre" /> Proposez votre meilleure idée</h2>
        </div>
        <ul class="blue">
            <li><b>Inscrivez-vous</b> sur le site du challenge de l'innovation</li>
            <li><b>Proposez votre meilleure idée à l'aide du bulletin de participation</b><br/>
                          en remplissant l'ensemble des champs mentionnés</li>
            <li><b>Votre idée doit : </b>
                   <ul class="sublist">
                        <li>Être inédite et innovante</li>
                        <li>Améliorer la qualité de service LCL<br/>
                            (reconnaissance client, conquête, bien être et confort, responsabilité sociétale et environnementale, etc.)</li>
                        <li>Avoir un bénéfice client &amp; collaborateur</li>
                        <li>Avoir un coût et des délais de mise en œuvre maîtrisés</li>
                    </ul>
                    </li>
            <li>Un comité de pré-sélection validera la recevabilité de votre idée et vous informera si votre idée :
                <ul class="sublist">
                        <li><b>Est retenue</b> et pourra poursuivre le processus de sélection,</li>
                        <li><b>N'est pas retenue</b> (déjà embarquée dans les projets existants LCL, a déjà été proposée par un autre participant ou ne répond pas aux critères de sélection) ... vous avez dès à présent la possibilité de soumettre une nouvelle idée !</li>
                        <li><b>Peut être recevable mais doit être approfondie : </b> vous serez contacté par un memebre du comité de pré-sélection qui vous indiquera les précisions nécessaires à apporter à votre idée</li>
                </ul>
                </li>
            <li><b>1 seule idée validée sera retenue par participant</b></li>
            <li><b>Dès que votre idée est validée</b>, vous pourrez su vous le souhaitez faire appel à LCL Factory et vous entourer de maximum 10 accompagnants pour enrichir votre idée. Si celle-ci est retenue parmi les 10 lauréats, vos accompagnants seront également récompensés :</li>
        </ul>
    </div>           
    
    <!-- ETAPE 2 -->
    <div class="row"> 
        <div class="text-center">
            <hr class="blueline" /><br/>
            <img src="{{asset('/images/modedemploi/Deuxieme_ETAPE_LOGO.png')}}"  alt="étape 2" />
            <h2><img src="{{asset('/images/modedemploi/CALENDRIER2.png')}}" alt="Le 15 décembre" />  Découvrez les lauréats</h2>
        </div>
        <ul class="blue">
            <li><b>Découvrez les 10 lauréats et le titre de leurs idées qui ont été sélectionnés par le jury</b></li>
            <li>Le jury s'engage à mettre en œuvre l'idée qui sera désignée gagnante</li>
        </ul>            
    </div>           
    
    <!-- ETAPE 3 -->
    <div class="row"> 
        <div class="text-center">
            <hr class="blueline" /><br/>
            <img src="{{asset('/images/modedemploi/Troisieme_ETAPE_LOGO.png')}}"  alt="étape 3" />
            <h2><img src="{{asset('/images/modedemploi/CALENDRIER3.png')}}" alt="Du 15 décembre au 11 janvier" /> Soyez patients</h2>
        </div>
        <ul class="blue">
            <li>Pendant cette période, <b>les 10 lauréats et leurs accompagnants seront coachés par LCL pour valoriser leurs idées en vidéo</b></li>
            <li>En attendant, vous pourrez en apprendre plus sur le <b>comité de pré-sélection et le jury de sélection</b></li>
            <li>En parallèle, <b>une communauté sera ouverte à l'ensemble des collaborateurs pour encourager les lauréats</b></li>
        </ul>            
    </div>           
    
    <!-- ETAPE 4 -->
    <div class="row"> 
        <div class="text-center">
            <hr class="blueline" /><br/>
            <img src="{{asset('/images/modedemploi/Quatrieme_ETAPE_LOGO.png')}}"  alt="étape 4" />
            <h2><img src="{{asset('/images/modedemploi/CALENDRIER4.png')}}" alt="Du 12 janvier au 22 janvier" /> Votez pour votre idée préférée</h2>
        </div>
        <ul class="blue">
            <li>Dès le 12 janvier, <b>vous découvrirez les 10 idées en vidéo de quelques minutes &hellip;</b><br/>
                et vous pourrez votez pour votre idée préférée !</li>
            <li>A la fin de la période de vote, <b>un tirage au sort</b> parmi l'ensemble des votants permettra à 100 d'entre eux d'être récompensés !</li>
        </ul>            
    </div>           
    
    <!-- ETAPE 5 -->
    <div class="row"> 
        <div class="text-center">
            <hr class="blueline" /><br/>
            <img src="{{asset('/images/modedemploi/Cinquieme_ETAPE_LOGO.png')}}"  alt="étape 5" />
            <h2><img src="{{asset('/images/modedemploi/CALENDRIER4.png')}}" alt="Le 26 janvier" /> Découvrez le grand gagnant</h2>
        </div>
        <ul class="blue">
            <li><b>Le 26 janvier 2016, le grand gagnant sera dévoilé !</b></li>
            <li><b>Une cérémonie de remise des prix</b> aura lieu début février au "19 LCL"<br/>
                afin de récompenser les 10 lauréats et leurs accompagnants.</li>
            <li><b>Un tirage au sort</b> parmi les votants qui auront voté pour le grand gagnant récompensera 50 d'entre eux!</li>
        </ul>            
    </div>           
    
                
{% endblock %}
