
<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
    <div class="columns register large-centered">
        {{ form_start(form, { 'class': "register__form"}) }}
        <div class="register__slider">

            <div class="register__slider__item">  

                        <div class="row">
                            <div class="small-12 columns">
                                <p class="title">Afin de pouvoir accèder à la plateforme,<br/>
                                <span class="title--subline">veuillez renseigner les champs suivants</span></p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="small-6 columns text-right">
                                {{ form_widget(form.firstname, {attr: {'class': 'register__input', 'placeholder': "Prénom"}}) }}
                                <div class="showErrors firstname hidden">{{ form_errors(form.firstname) }}</div>
                            </div>
                            <div class="small-6 columns text-left">                                
                                {{ form_widget(form.lastname, {attr: {'class': 'register__input', 'placeholder': "Nom"}}) }}
                                <div class="showErrors lastname hidden">{{ form_errors(form.lastname) }}</div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="small-6 columns text-right">
                                {{ form_widget(form.email, {attr: {'class': 'register__input', 'placeholder': "Adresse e-mail"}}) }}
                                <div class="showErrors email hidden">{{ form_errors(form.email) }}</div>
                            </div>
                            <div class="small-6 columns text-left">
                                {{ form_widget(form.direction, {attr: {'class': 'register__select'}}) }}
                                <div class="showErrors hidden">{{ form_errors(form.direction) }}</div>
                            </div>
                        </div>

                    <div class="row">
                        <div class="small-6 columns text-right">
                            {{ form_widget(form.plainPassword.first, {attr: {'class': 'register__input', 'placeholder': "Mot de passe"}}) }}
                            <div class="showErrors passwordFirst hidden">{{ form_errors(form.plainPassword.first) }}</div>
                        </div>
                        <div class="small-6 columns text-left">
                            {{ form_widget(form.plainPassword.second, {attr: {'class': 'register__input', 'placeholder': "Confirmer mot de passe"}}) }}
                            <div class="showErrors passwordSecond hidden">{{ form_errors(form.plainPassword.second) }}</div>
                        </div>
                    </div>     

                    <div class="row">
                            <div class="small-12 columns">
                                <input type="submit" class="register__submit js-register-next" value="S'inscrire" />
                                <div class="showErrors js-register-error hidden"></div>
                            </div>
                        </div>                   
           </div>
           <div class="register__slider__item">  

               <div class="row">
                    <div class="small-12 columns">
                        <p class="title title-adjust">Conditions de règlement du jeu</p>
                    </div>
                </div>    

                <div class="row">
                     <div class="small-12 columns register__reglement">
                            {% include 'innoLCLfrontBundle:Default:reglement_registration.html.twig' %} 
                    </div>
                </div>

                 <div class="row"> 
                     <div class="small-6 columns">
                        {{ form_widget(form.cgvaccepted) }} <label for="fos_user_registration_form_cgvaccepted" class="required">J'ai lu les conditions de règlement du jeu</label><br/>
                        <div class="showErrors cgvaccepted hidden">{{ form_errors(form.cgvaccepted) }}</div>
                    </div>
                     <div class="small-6 columns">
                            <input type="submit" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}"  class="register__submit submit_global" />
                    </div>
                </div>

                </div>
            </div>
    </div>
        {{ form_end(form) }}
    </div>
</form>