<div class="enattendant">
	<div class="enattendant__header">
		<h2 class="enattendant__header__title"><span class="bold">En attendant</span>, nous vous proposons <span class="bold">de découvrir : </span></h2>
	</div>
	<div class="row row-big">
		<div style="border-bottom: 2px solid #ffffff;" class="small-6 columns enattendant__block--video nth1 js-videoopen" data-video="{{asset('video/jury-pre-selection.mp4')}}">
		{% image '@innoLCLfrontBundle/Resources/assets/images/waiting1.jpg' %}
			<img src="{{ asset_url }}"  alt="Le comité de pré-sélection" class="enattendant__videopreview" />
		{% endimage %}
		{% image '@innoLCLfrontBundle/Resources/assets/images/play.png' %}
				<img src="{{ asset_url }}"  alt="Le jury de sélection" class="enattendant__btn-play" />
			{% endimage %}
		</div>
		<div class="small-6 columns enattendant__block--texte nth2">
			<h3 class="enattendant__title">Le comité de pré-sélection</h3>
			<p class="enattendant__content">De l’ombre à la lumière, découvrez celles et ceux qui, pendant 4 semaines, ont eu le privilège de recevoir et d’analyser les  idées d’innovations proposées par les collaborateurs et, surtout,  la responsabilité d’apporter une réponse à chacun des participants. <br/>
			Enthousiastes  et spontanés, les 6 membres du comité de pré sélection,  issus de différentes directions LCL évoquent les moments marquants de leur  expérience !</p>
		</div>
	</div>
	<div class="row row-big">
		<div class="small-6 columns enattendant__block--video nth1  js-videoopen" data-video="{{asset('video/jury-attentes.mp4')}}">
			{% image '@innoLCLfrontBundle/Resources/assets/images/waiting2.jpg' %}
				<img src="{{ asset_url }}"  alt="Le jury de sélection" class="enattendant__videopreview" />
			{% endimage %}
			{% image '@innoLCLfrontBundle/Resources/assets/images/play.png' %}
				<img src="{{ asset_url }}"  alt="Le jury de sélection" class="enattendant__btn-play" />
			{% endimage %}
		</div>
		<div class="small-6 columns enattendant__block--video nth2 js-videoopen" data-video="{{asset('video/jury-innovation.mp4')}}">
			{% image '@innoLCLfrontBundle/Resources/assets/images/waiting3.jpg' %}
				<img src="{{ asset_url }}"  alt="Le jury de sélection" class="enattendant__videopreview" />
			{% endimage %}
			{% image '@innoLCLfrontBundle/Resources/assets/images/play.png' %}
				<img src="{{ asset_url }}"  alt="Le jury de sélection" class="enattendant__btn-play" />
			{% endimage %}
		</div>
		</div>
		<!--
	<div class="row row-big">
		<div class="small-6 columns enattendant__block--texte nth1">
			<h3 class="enattendant__title">Le jury de sélection</h3>
			<p class="enattendant__content">Explorez  les coulisses du processus de sélection des 10 lauréats en découvrant les membres du jury et leurs attentes pour ce challenge de l’innovation. </p>
		</div>
		<div class="small-6 columns enattendant__block--texte nth2">
			<h3 class="enattendant__title">Le jury de sélection</h3>
			<p class="enattendant__content">Représentants du COMEX et de l’ensemble des directions LCL, les membres du jury de sélection évoquent leur représentation de l’innovation participative.</p>
		</div>
	</div>-->
	<div class="row row-big">
		<div class="small-12 text-center">
			<h3 class="enattendant__title enattendant__title-jury small-6">Le jury de sélection</h3>
		</div>
		<div class="small-6 columns enattendant__block--texte nth1">
			<p class="enattendant__content">Explorez  les coulisses du processus de sélection des 10 lauréats en découvrant les membres du jury et leurs attentes pour ce challenge de l’innovation. </p>
		</div>
		<div class="small-6 columns enattendant__block--texte nth2">
			<p class="enattendant__content">Représentants du COMEX et de l’ensemble des directions LCL, les membres du jury de sélection évoquent leur représentation de l’innovation participative.</p>
		</div>
	</div>
	<div class="enattendant__header">
		<h2 class="enattendant__header__title"><span class="bold">Rendez-vous le 15 décembre pour découvrir les 10 lauréats</span></h2>
	</div>
</div>
