{# src/innoLCL/frontBundle/Resources/views/Default/index.html.twig #}

{% extends "innoLCLfrontBundle::layout.html.twig" %}

{% block body %}
    <header>              
        <div class="row">
            <div class="entete-generale">
                                <h1 class="title">
                    {% image '@innoLCLfrontBundle/Resources/assets/images/partipez.png' %}
                            <img src="{{ asset_url }}"  alt="Participez au" class="" />
                    {% endimage %}
                    <br/>
                
                
                challenge de l'innovation LCL</h1>
                <div class="small-3 columns">
                    {% image '@innoLCLfrontBundle/Resources/assets/images/logo_LCL.png' %}
                        <img src="{{ asset_url }}"  alt="Challenge de l'innovation LCL" />
                    {% endimage %}
                </div>
                <div class="small-6 columns">
                    <div class="row text-center">
                        {% image '@innoLCLfrontBundle/Resources/assets/images/logo_challenge.png' %}
                            <img src="{{ asset_url }}"  alt="Challenge de l'innovation LCL" class="entete-generale__logo levitate" />
                        {% endimage %}
                    </div>
                    <div class="row text-center">
                        {% image '@innoLCLfrontBundle/Resources/assets/images/souris_picto.png' %}
                            <img src="{{ asset_url }}"  alt="Challenge de l'innovation LCL" />
                        {% endimage %}
                    </div>
                </div>
                <div class="small-3 columns">{{ render(controller('FOSUserBundle:Security:login')) }}</div>     
                {% image '@innoLCLfrontBundle/Resources/assets/images/ombre_logo.png' %}
                    <img src="{{ asset_url }}"  alt="Challenge de l'innovation LCL" class="entete-generale__ombre shadow"/>
                {% endimage %}               
            </div> 
        </div>
    </header>

    {{ include("innoLCLfrontBundle:Default:dotation.html.twig") }}
              
    {{ render(controller('innoLCLAllUserBundle:Registration:register')) }}
{% endblock %}
