<div class="row row-big laureats">
	<div class="columns laureats__mainblock small-9">
		<div class="row row-big">
			<div class="columns laureats__block small-4">
				{% image '@innoLCLfrontBundle/Resources/assets/images/laureats/Jeremy_MONNEAU.jpg' %}
							<img src="{{ asset_url }}"  alt="" class="laureats__photo"/>
				{% endimage %}
				<div class="laureats__content">
					<h2 class="laureats__title">
					Jérémy
					{% image '@innoLCLfrontBundle/Resources/assets/images/laureats/nom/monneau.png' %}
							<img src="{{ asset_url }}"  alt="" class="laureats__nom"/>
					{% endimage %}
					</h2>
					<p class="laureats__direction">Direction</p>
					<p class="laureats__idee">Running'Epargne : faites de votre course une stratégie d'épargne et un acte solidaire</p>
				</div>
				<div class="hover_filtre hover_1"></div>
			</div>
			<div class="columns laureats__block small-4">
				{% image '@innoLCLfrontBundle/Resources/assets/images/laureats/Pascal_MALBO.jpg' %}
							<img src="{{ asset_url }}"  alt="" class="laureats__photo"/>
				{% endimage %}
				<div class="laureats__content">
					<h2 class="laureats__title">
					Pascal
					{% image '@innoLCLfrontBundle/Resources/assets/images/laureats/nom/malbo.png' %}
							<img src="{{ asset_url }}"  alt="" class="laureats__nom"/>
					{% endimage %}
					</h2>
					<p class="laureats__direction">Direction</p>
					<p class="laureats__idee">Mensualités conso à la carte</p>
				</div>
				<div class="hover_filtre hover_1"></div>
			</div>
			<div class="columns laureats__block small-4">
				{% image '@innoLCLfrontBundle/Resources/assets/images/laureats/Nicolas_SEGARD.jpg' %}
							<img src="{{ asset_url }}"  alt="" class="laureats__photo"/>
				{% endimage %}
				<div class="laureats__content">
					<h2 class="laureats__title">
					Nicolas
					{% image '@innoLCLfrontBundle/Resources/assets/images/laureats/nom/segard.png' %}
							<img src="{{ asset_url }}"  alt="" class="laureats__nom"/>
					{% endimage %}
					</h2>
					<p class="laureats__direction">Direction</p>
					<p class="laureats__idee">Manager 2.0 : La communication locale, le Manager LCL devient le Social Media Manager de son agence</p>
				</div>
				<div class="hover_filtre hover_3"></div>
			</div>
		</div>
		<div class="row row-big">
			<div class="columns laureats__block small-6">
				{% image '@innoLCLfrontBundle/Resources/assets/images/laureats/Bernard_GERSTEIN.jpg' %}
							<img src="{{ asset_url }}"  alt="" class="laureats__photo"/>
				{% endimage %}
				<div class="laureats__content">
					<h2 class="laureats__title">
					Bernard
					{% image '@innoLCLfrontBundle/Resources/assets/images/laureats/nom/gerstein.png' %}
							<img src="{{ asset_url }}"  alt="" class="laureats__nom"/>
					{% endimage %}
					</h2>
					<p class="laureats__direction">Direction</p>
					<p class="laureats__idee">Friendbox, le nouveau service client LCL de cagnotte électronique</p>
				</div>
				<div class="hover_filtre hover_4"></div>
			</div>
			<div class="columns laureats__block small-6">
				{% image '@innoLCLfrontBundle/Resources/assets/images/laureats/Arnaud_GIRERD.jpg' %}
							<img src="{{ asset_url }}"  alt="" class="laureats__photo"/>
				{% endimage %}
				<div class="laureats__content">
					<h2 class="laureats__title">
					Arnaud
					{% image '@innoLCLfrontBundle/Resources/assets/images/laureats/nom/girerd.png' %}
							<img src="{{ asset_url }}"  alt="" class="laureats__nom"/>
					{% endimage %}
					</h2>
					<p class="laureats__direction">Direction</p>
					<p class="laureats__idee">La It List du conseiller</p>
				</div>
				<div class="hover_filtre hover_5"></div>
			</div>
		</div>
		<div class="row row-big">
			<div class="columns laureats__block small-4">
				{% image '@innoLCLfrontBundle/Resources/assets/images/laureats/MH_CAZANAVE.jpg' %}
							<img src="{{ asset_url }}"  alt="" class="laureats__photo"/>
				{% endimage %}
				<div class="laureats__content">
					<h2 class="laureats__title">
					Marie-Hélène
					{% image '@innoLCLfrontBundle/Resources/assets/images/laureats/nom/cazanave.png' %}
							<img src="{{ asset_url }}"  alt="" class="laureats__nom"/>
					{% endimage %}
					</h2>
					<p class="laureats__direction">Direction</p>
					<p class="laureats__idee">ID2C : Identification Digitale du Client et du Collaborateur</p>
				</div>
				<div class="hover_filtre hover_2"></div>
			</div>
			<div class="columns laureats__block small-4">
				{% image '@innoLCLfrontBundle/Resources/assets/images/laureats/Patrick_RIVIERE.jpg' %}
							<img src="{{ asset_url }}"  alt="" class="laureats__photo"/>
				{% endimage %}
				<div class="laureats__content">
					<h2 class="laureats__title">
					Patrick
					{% image '@innoLCLfrontBundle/Resources/assets/images/laureats/nom/riviere.png' %}
							<img src="{{ asset_url }}"  alt="" class="laureats__nom"/>
					{% endimage %}
					</h2>
					<p class="laureats__direction">Direction</p>
					<p class="laureats__idee">Easycash : Dites oui aux achats coup de cœur</p>
				</div>
				<div class="hover_filtre hover_2"></div>
			</div>
			<div class="columns laureats__block small-4">
				{% image '@innoLCLfrontBundle/Resources/assets/images/laureats/Sylvian_DURIX.jpg' %}
							<img src="{{ asset_url }}"  alt="" class="laureats__photo"/>
				{% endimage %}
				<div class="laureats__content">
					<h2 class="laureats__title">
					Sylvian
					{% image '@innoLCLfrontBundle/Resources/assets/images/laureats/nom/durix.png' %}
							<img src="{{ asset_url }}"  alt="" class="laureats__nom"/>
					{% endimage %}
					</h2>
					<p class="laureats__direction">Direction</p>
					<p class="laureats__idee">L’effet WOW LCL : Comment enchanter nos clients ?</p>
				</div>
				<div class="hover_filtre hover_3"></div>
			</div>
		</div>
	</div>
	<div class="columns laureats__mainblock small-3">
		<div class="row row-big">
			<div class="columns laureats__block small-12">
				{% image '@innoLCLfrontBundle/Resources/assets/images/laureats/Eric_SOMMERVOGEL.jpg' %}
							<img src="{{ asset_url }}"  alt="" class="laureats__photo"/>
				{% endimage %}
				<div class="laureats__content">
					<h2 class="laureats__title">
					Éric
					{% image '@innoLCLfrontBundle/Resources/assets/images/laureats/nom/sommervogel.png' %}
							<img src="{{ asset_url }}"  alt="" class="laureats__nom"/>
					{% endimage %}
					</h2>
					<p class="laureats__direction">Direction</p>
					<p class="laureats__idee">ZEF (Zéro Facturettes), la solution ultime pour en finir avec vos facturettes</p>
				</div>
				<div class="hover_filtre hover_4"></div>
			</div>
			<div class="columns laureats__block small-12">
				{% image '@innoLCLfrontBundle/Resources/assets/images/laureats/Zahia_BOUHADJI.jpg' %}
							<img src="{{ asset_url }}"  alt="" class="laureats__photo"/>
				{% endimage %}
				<div class="laureats__content">
					<h2 class="laureats__title">
					Zahia
					{% image '@innoLCLfrontBundle/Resources/assets/images/laureats/nom/bouhadji.png' %}
							<img src="{{ asset_url }}"  alt="" class="laureats__nom"/>
					{% endimage %}
					</h2>
					<p class="laureats__direction">Direction</p>
					<p class="laureats__idee">Alerte départ à l’étranger</p>
				</div>
				<div class="hover_filtre hover_5"></div>
			</div>
		</div>
	</div>
</div>
