<div class="row row-big laureats">
	<div class="columns laureats__mainblock small-9">
		<div class="row row-big">
			<div class="columns laureats__block small-4">
				{% image '@innoLCLfrontBundle/Resources/assets/images/laureats/jules.jpg' %}
							<img src="{{ asset_url }}"  alt="" class="laureats__photo"/>
				{% endimage %}
				<div class="laureats__content">
					<h2 class="laureats__title">
					Kylian 	
					{% image '@innoLCLfrontBundle/Resources/assets/images/laureats/nom/jules.png' %}
							<img src="{{ asset_url }}"  alt="" class="laureats__nom"/>
					{% endimage %}
					</h2>
					<p class="laureats__direction">Direction</p>
					<p class="laureats__idee">Nom de l'idée</p>
				</div>
				<div class="hover_filtre hover_1"></div>
			</div>
			<div class="columns laureats__block small-4">
				{% image '@innoLCLfrontBundle/Resources/assets/images/laureats/sixte.jpg' %}
							<img src="{{ asset_url }}"  alt="" class="laureats__photo"/>
				{% endimage %}
				<div class="laureats__content">
					<h2 class="laureats__title">
					Dorian 	
					{% image '@innoLCLfrontBundle/Resources/assets/images/laureats/nom/sixte.png' %}
							<img src="{{ asset_url }}"  alt="" class="laureats__nom"/>
					{% endimage %}
					</h2>
					<p class="laureats__direction">Direction</p>
					<p class="laureats__idee">Nom de l'idée</p>
				</div>
				<div class="hover_filtre hover_2"></div>
			</div>
			<div class="columns laureats__block small-4">
				{% image '@innoLCLfrontBundle/Resources/assets/images/laureats/baudouin.jpg' %}
							<img src="{{ asset_url }}"  alt="" class="laureats__photo"/>
				{% endimage %}
				<div class="laureats__content">
					<h2 class="laureats__title">
					Bernadine 	
					{% image '@innoLCLfrontBundle/Resources/assets/images/laureats/nom/baudouin.png' %}
							<img src="{{ asset_url }}"  alt="" class="laureats__nom"/>
					{% endimage %}
					</h2>
					<p class="laureats__direction">Direction</p>
					<p class="laureats__idee">Nom de l'idée</p>
				</div>
				<div class="hover_filtre hover_3"></div>
			</div>
		</div>
		<div class="row row-big">
			<div class="columns laureats__block small-6">
				{% image '@innoLCLfrontBundle/Resources/assets/images/laureats/christelle.jpg' %}
							<img src="{{ asset_url }}"  alt="" class="laureats__photo"/>
				{% endimage %}
				<div class="laureats__content">
					<h2 class="laureats__title">
					Sylvain  	
					{% image '@innoLCLfrontBundle/Resources/assets/images/laureats/nom/christelle.png' %}
							<img src="{{ asset_url }}"  alt="" class="laureats__nom"/>
					{% endimage %}
					</h2>
					<p class="laureats__direction">Direction</p>
					<p class="laureats__idee">Nom de l'idée</p>
				</div>
				<div class="hover_filtre hover_4"></div>
			</div>
			<div class="columns laureats__block small-6">
				{% image '@innoLCLfrontBundle/Resources/assets/images/laureats/josette.jpg' %}
							<img src="{{ asset_url }}"  alt="" class="laureats__photo"/>
				{% endimage %}
				<div class="laureats__content">
					<h2 class="laureats__title">
					Flavienne 	
					{% image '@innoLCLfrontBundle/Resources/assets/images/laureats/nom/josette.png' %}
							<img src="{{ asset_url }}"  alt="" class="laureats__nom"/>
					{% endimage %}
					</h2>
					<p class="laureats__direction">Direction</p>
					<p class="laureats__idee">Nom de l'idée</p>
				</div>
				<div class="hover_filtre hover_5"></div>
			</div>
		</div>
		<div class="row row-big">
			<div class="columns laureats__block small-4">
				{% image '@innoLCLfrontBundle/Resources/assets/images/laureats/sandra.jpg' %}
							<img src="{{ asset_url }}"  alt="" class="laureats__photo"/>
				{% endimage %}
				<div class="laureats__content">
					<h2 class="laureats__title">
					Lou  	
					{% image '@innoLCLfrontBundle/Resources/assets/images/laureats/nom/sandra.png' %}
							<img src="{{ asset_url }}"  alt="" class="laureats__nom"/>
					{% endimage %}
					</h2>
					<p class="laureats__direction">Direction</p>
					<p class="laureats__idee">Nom de l'idée</p>
				</div>
				<div class="hover_filtre hover_1"></div>
			</div>
			<div class="columns laureats__block small-4">
				{% image '@innoLCLfrontBundle/Resources/assets/images/laureats/noella.jpg' %}
							<img src="{{ asset_url }}"  alt="" class="laureats__photo"/>
				{% endimage %}
				<div class="laureats__content">
					<h2 class="laureats__title">
					Jonathan 	
					{% image '@innoLCLfrontBundle/Resources/assets/images/laureats/nom/noella.png' %}
							<img src="{{ asset_url }}"  alt="" class="laureats__nom"/>
					{% endimage %}
					</h2>
					<p class="laureats__direction">Direction</p>
					<p class="laureats__idee">Nom de l'idée</p>
				</div>
				<div class="hover_filtre hover_2"></div>
			</div>
			<div class="columns laureats__block small-4">
				{% image '@innoLCLfrontBundle/Resources/assets/images/laureats/therese.jpg' %}
							<img src="{{ asset_url }}"  alt="" class="laureats__photo"/>
				{% endimage %}
				<div class="laureats__content">
					<h2 class="laureats__title">
					Achille  	
					{% image '@innoLCLfrontBundle/Resources/assets/images/laureats/nom/therese.png' %}
							<img src="{{ asset_url }}"  alt="" class="laureats__nom"/>
					{% endimage %}
					</h2>
					<p class="laureats__direction">Direction</p>
					<p class="laureats__idee">Nom de l'idée</p>
				</div>
				<div class="hover_filtre hover_3"></div>
			</div>
		</div>
	</div>	
	<div class="columns laureats__mainblock small-3">
		<div class="row row-big">
			<div class="columns laureats__block small-12">
				{% image '@innoLCLfrontBundle/Resources/assets/images/laureats/hippolyte.jpg' %}
							<img src="{{ asset_url }}"  alt="" class="laureats__photo"/>
				{% endimage %}
				<div class="laureats__content">
					<h2 class="laureats__title">
					Théophile  	
					{% image '@innoLCLfrontBundle/Resources/assets/images/laureats/nom/hippolyte.png' %}
							<img src="{{ asset_url }}"  alt="" class="laureats__nom"/>
					{% endimage %}
					</h2>
					<p class="laureats__direction">Direction</p>
					<p class="laureats__idee">Nom de l'idée</p>
				</div>
				<div class="hover_filtre hover_4"></div>
			</div>
			<div class="columns laureats__block small-12">
				{% image '@innoLCLfrontBundle/Resources/assets/images/laureats/jeannine.jpg' %}
							<img src="{{ asset_url }}"  alt="" class="laureats__photo"/>
				{% endimage %}
				<div class="laureats__content">
					<h2 class="laureats__title">
					Manon  	
					{% image '@innoLCLfrontBundle/Resources/assets/images/laureats/nom/jeannine.png' %}
							<img src="{{ asset_url }}"  alt="" class="laureats__nom"/>
					{% endimage %}
					</h2>
					<p class="laureats__direction">Direction</p>
					<p class="laureats__idee">Nom de l'idée</p>
				</div>
				<div class="hover_filtre hover_5"></div>
			</div>
		</div>
	</div>
</div>
