{# src/innoLCL/frontBundle/Resources/views/Default/index.html.twig #}

{% extends "innoLCLfrontBundle::layout.html.twig" %}

{% block body %}
         <header>              
             <div class="row">
                 <div class="entete-generale">
                     
                    <div class="login__topbar">
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <span class="login__user">Bonjour, {{ app.user.firstname|slice(0, 1)  }}. {{ app.user.lastname }}</span>
                            <a href="{{ path('fos_user_security_logout') }}" class="login__logout">
                                Se déconnecter
                            </a>
                        {% else %}
                            <a href="{{ path('fos_user_security_login') }}">
                                {{ 'layout.login'|trans({}, 'FOSUserBundle') }}
                                </a>
                        {% endif %}
                    </div>
                    
                    {% if registerConfirmed is defined %}
                        {% if registerConfirmed %}
                            <div id="formRegisterConfirmed" class="reveal-modal suggestidea" data-reveal aria-labelledby="Confirmation de l'inscription" aria-hidden="false" role="dialog" data-reload="{{path('innolcl_front_landing_proposal')}}">
                                <div class="popup">
                                    <h1 class="popup__title">Confirmation de l'inscription</h1>
                                    <p class="popup__content">Félicitations {{app.user.firstname}}, votre compte est maintenant activé.</p>

                                    <div class="popup__footer">
                                        <p class="popup__footer__signature"><span>Challenge de l'innovation, 10ans LCL</span></p>
                                    </div>
                                </div>
                                    <a class="close-reveal-modal suggestidea__close" aria-label="Close">&#215;</a>
                                    <img src="{{ asset('images/popin_logo_bas.png') }}"  class="popin_img_bas" />
                                    <img src="{{ asset('images/popin_logo_haut.png') }}"  class="popin_img_haut" />                                    
                            </div>
                        {% endif %}
                    {% endif %}                    
                    
                     <h1 class="title">
					{% image '@innoLCLfrontBundle/Resources/assets/images/partipez.png' %}
                            <img src="{{ asset_url }}"  alt="Participez au" class="" />
                    {% endimage %}<br/>
						 challenge de l'innovation LCL</h1>
                    <div class="small-3 columns">
                            {% image '@innoLCLfrontBundle/Resources/assets/images/logo_LCL.png' %}
                                <img src="{{ asset_url }}"  alt="Challenge de l'innovation LCL" />
                            {% endimage %}
                     </div>
                    <div class="small-6 columns">
                        <div class="row text-center">
                            {% image '@innoLCLfrontBundle/Resources/assets/images/logo_challenge.png' %}
                            <img src="{{ asset_url }}"  alt="Challenge de l'innovation LCL" class="entete-generale__logo levitate" />
                        {% endimage %}
                        </div>
                        <div class="row text-center containerBTVideo">
                            {% image '@innoLCLfrontBundle/Resources/assets/images/play.png' %}
                                <img src="{{ asset_url }}"  alt="Challenge de l'innovation LCL" class="js-launchvideo" />
                            {% endimage %}                            
                        </div>
                        </div>
                    <div class="small-3 columns"></div>
                    <div class="small-12 columns text-center">
                            <p  class="title entete-generale__videotext ">Avant de participer, découvrez le challenge en vidéo</p>
                            {% if displayCTA %}
                                <span data-reveal-id="formIdea" class="btn btn--main-cta  text-center">Proposer une idée</span>
                            {% endif %}
                        </div>
                
                         {% image '@innoLCLfrontBundle/Resources/assets/images/ombre_logo.png' %}
                                <img src="{{ asset_url }}"  alt="Challenge de l'innovation LCL" class="entete-generale__ombre shadow"/>
                        {% endimage %}
                </div> 
            </div>
        </header>
        
        {% if idealist is not empty %}
            {{ include("innoLCLfrontBundle:Default:idealist.html.twig")}}
        {% endif %}
        {{ include("innoLCLfrontBundle:Default:dotation.html.twig")}}
        {% if displayForm %}
            {{ render(controller("innoLCLbothIdeaBundle:Form:createFrontForm",
                    {  'ideaID': FormIdeaID,
                        'author': authorid}
                        )) }}
        {% endif %}
        <div id="videoModal" class="reveal-modal full" data-reveal aria-labelledby="videoModalTitle" aria-hidden="true" role="dialog">
            <video width="320" height="240" id="js-video">
                    <source src="{{asset('video/challenge.mp4')}}" type="video/mp4">
                    <object id="js-video-flash" type="application/x-shockwave-flash" data="{{asset('video/flashfox.swf')}}" width="90%" height="90%">
                            <param name="movie" value="{{asset('video/flashfox.swf')}}" />
                            <param name="allowFullScreen" value="true" />
                            <param name="wmode" value="transparent" />
                            <param name="flashVars" value="autoplay=true&amp;controls=true&amp;src={{asset('video/challenge.mp4')}}" />                            
                    </object>
            </video><br>
            <a href="#fermer" class="popin__video_fermer">FERMER</a>
        </div>
        
        {{ render(controller("innoLCLfrontBundle:Video:createForm")) }}
{% endblock %}

