{# src/innoLCL/bothIdeaBundle/Resources/views/Form/validateur.html.twig#}

{{ form_start(form, {'attr': {'class': 'js-validateur'}}) }}
<div class="form-slide 
    {% if idea.validated == 1 %} hide-form {% endif %}">
    <div class="form-button">
    {{ form_widget(form.save) }}
    </div>
    <div class="row">
        <div class="col-lg-6">
                <label>Titre de l'idée</label>
              <div class="panel panel-default">
                <div class="panel-body">
                    {{ idea.title }}
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <label>Prénom</label>
            <div class="panel panel-default">
                <div class="panel-body">
                    {{ idea.Author.firstname }}
                </div>
            </div>
        </div>
        <div  class="col-lg-3">
            <label>Nom</label>
            <div class="panel panel-default">
                <div class="panel-body">
                    {{ idea.Author.username }}
                </div>
            </div>            
        </div>
    </div>

     <div class="row">
            <div class="col-lg-4">
                <label>Descriptif de l'idée</label>
                <div class="panel panel-default">
                    <div class="panel-body panel-body-big">
                        {{ idea.description }}
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <label>Descriptif du bénéfice de votre idée pour le client</label>
                <div class="panel panel-default">
                    <div class="panel-body panel-body-big">
                       {{ idea.partnerprofit }}                        
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <label>Descriptif du bénéfice pour les collaborateurs</label>
                <div class="panel panel-default">
                    <div class="panel-body panel-body-big">
                       {{ idea.customerprofit }}
                    </div>
                </div>
            </div>
    </div>
    
    <div class="row">
        <div class="col-lg-12">
                <label>Question facultative : Si l'idée était sélectionnée, quelle(s) démarche(s) de test engageriez-vous pour vérifier la faisabilité de sa mise en place</label>
                <div class="panel panel-default">
                    <div class="panel-body  panel-body-big">
                        {{ idea.bonuscontent }}
                    </div>
                </div>
            </div>
        <div>
            
        </div>
    </div>
    
    <div class="row">
		{% for review in Reviews %}
		<div class="col-lg-6 pastreview">
			<div class="panel 
			{% if review.avis == 'maybe' %}
							panel-yellow
						{% endif %}
						{% if review.avis == 'validated' %}
							panel-green
						{% endif %}
						{% if review.avis == 'refused' %}
							panel-red
			{% endif %}
			">
				<div class="panel-heading">
						<h2>Avis donné lors de la version {{ review.versionIdea }}</h2>
					</div>
				<div class="row">
					<div class="col-lg-2 button-box panel-footer">
					
					<div class="box-icone-validation">
						{% if review.avis == 'maybe' %}
							<span class="icone-validation maybe"></span>
						{% endif %}
						{% if review.avis == 'validated' %}
							<span class="icone-validation valid"></span>
						{% endif %}
						{% if review.avis == 'refused' %}
							<span class="icone-validation refus"></span>
						{% endif %}
					</div>
				</div>
				<div class="col-lg-10">
					{{ review.commentaire }}
				</div>
				</div>
			</div>
		</div>
        {% endfor %}
    </div>
    
    <div class="row">
        <div class="col-lg-9">
            <label style="color: #ff0000">Commentaire en cas de refus</label>
                {{ form_widget(form.refusalreason, {'attr': {'class': 'panel panel-default commentary panel-body'}}) }}
        </div>
        {% if idea.validated == 0 %}
        <div class="col-lg-3 button-box">    
              <a class="compare" target="_blank"   href="{{ path('innolcl_backbundle_compare', {'ideaid': idea.id }) }}">Comparer</a>
              <div class="box-icone-validation">
                    <span class="icone-validation maybe js-icone-validation" data-val="maybe"></span>
                    <span class="icone-validation valid js-icone-validation" data-val="validated"></span>
                    <span class="icone-validation refus js-icone-validation" data-val="refused"></span>
              </div>
        </div>
        {% endif %}
        {{ form_widget(form.statuts) }}
    </div>  
        

<div>
    
</div>
{{ form_end(form) }}
